.modal-form {
  height: 80%;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(191, 191, 191);
  padding: 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  font-size: 12px;
}
#observaciones{
  height: 40px !important;
}
.modal-form button {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1.5rem;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.modal-form h3 {
  text-align: center;
  margin-bottom: 1rem;
}

.modal-form form {
  display: flex;
  flex-direction: column;
}

.modal-form input[type="text"],
.modal-form input[type="number"],
.modal-form select,
.modal-form textarea {
  padding: 0.5rem;
  margin-bottom: 1rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 12px;
  background-color: #fff;
}

.buttons-container{
  display: flex;
  justify-content:space-between ;
}

.modal-form input[type="submit"],
.modal-form input[type="reset"] {
  width: 40%;
  margin-top: 1rem;
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.modal-form input[type="submit"]:hover,
.modal-form input[type="reset"]:hover {
  background-color: #416241;
}



.label, .tituloModal{
  color: #000;
  font-weight: bold;
}
.tituloModal{
  margin-top: -20px;
}


.qqqqqqq{
color:rgba(122, 122, 122, 0.786)
}